# 반복문 for, while
* 반복문은 동일한 작업을 여러 번 반복해야 할 경우 사용하는 명령
* for, while 두 종류의 반복문이 있음.
* for는 반복 횟수가 정해져 있는 경우에 사용.
* while은 반복 횟수가 정해지지 않은 경우에 사용.

## for 반목문: 반복할 횟수가 정해져 있는 경우
for 변수 in 반복할 객체, 자료:<br>
____반복할 코드

In [2]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
# for문을 이용해서 1-10 숫자 출력
for num in range(1,11):
    print(num, end=" ")

1 2 3 4 5 6 7 8 9 10

* 순서가 있는 자료형은 모두 for문에 사용 가능
  * 문자열, list, tuple

In [6]:
for char in "파이썬은 문자열을 반복문에 넣어 출력 가능":
    print(char, end=" ")

파 이 썬 은   문 자 열 을   반 복 문 에   넣 어   출 력   가 능

In [7]:
for item in [1,2,3,4,5]:
    print(item, end=" ")

1 2 3 4 5

In [8]:
L = [1,2.3,3, "문자열", [1,2,3], (4,5,6), {'반복문': 'for'}]
L

[1, 2.3, 3, '문자열', [1, 2, 3], (4, 5, 6), {'반복문': 'for'}]

In [9]:
for item in L:
    print(item, end=" ")

1 2.3 3 문자열 [1, 2, 3] (4, 5, 6) {'반복문': 'for'}

In [10]:
t = tuple(L)
t

(1, 2.3, 3, '문자열', [1, 2, 3], (4, 5, 6), {'반복문': 'for'})

In [11]:
for item in t:
    print(item, end=" ")

1 2.3 3 문자열 [1, 2, 3] (4, 5, 6) {'반복문': 'for'}

In [12]:
d = dict(번호=1,주소='서울', 전화번호='010-1111-22222', 이름='홍길동')
d

{'번호': 1, '주소': '서울', '전화번호': '010-1111-22222', '이름': '홍길동'}

딕셔너리는 반복문에 넣었을 때 key만 출력된다.

In [15]:
d

{'번호': 1, '주소': '서울', '전화번호': '010-1111-22222', '이름': '홍길동'}

In [14]:
for item in d:
    print(item, end=" ")

번호 주소 전화번호 이름

In [17]:
for key in d:
    print(d[key], end=" ")

1 서울 010-1111-22222 홍길동

In [18]:
for key in d:
    print(d.get(key,0), end=" ")

1 서울 010-1111-22222 홍길동

for 반복문을 이용해서 1부터 10까지의 정수를 더한 합만을 출력하세요.
* 1부터 10까지 숫자를 만들어 반복문에 넣는다.
* 1부터 10까지 누적 덧셈을 한다.
* 누적 덧셈을 한 결과를 출력한다.

In [26]:
temp = 0
for num in range(1,11):
#     print(num)
    temp = temp + num
    for num2 in range(1,10)
print(temp)
# print(temp)

55

1-100까지 곱한 값을 출력하세요.

In [30]:
temp2 = 1
for num in range(1,101):
#     print(num, end=" ")
    temp2 = temp2 * num
print(temp2)

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

1부터 50까지 수 중에서 짝수인 수의 합을 구하시오.
* 1-50 수를 만들기
* 홀짝 구분 if else   , % 2 == 0 짝, % 2 == 1 홀
* 짝수면 덧셈 누적합
* print()

In [34]:
temp3 = 0
for num in range(1,51):
    if num % 2 == 0:
        temp3 += num
print(temp3)

650

In [38]:
temp4 = 0
for num in range(0,51,2):
    temp4 += num
print(temp4)
#     print(num, end=" ")

650

1부터 100까지의 수 중에서 7의 배수만 찾아 곱한 값을 출력하세요.
* 숫자만들기 1-100
* 7의 배수 찾기 % 7 == 0
* 누적곱
* print()

In [46]:
temp =1
for num in range(1,101):
    if num % 7 == 0:
#         print(num)
        temp *= num
print(temp)

59126328543388935628800

1부터 100까지 수를 만들고 그중 30-70까지만 더해서 출력하세요.
* 방법1. 조건문으로 판별
* 방법2. range로 만든 list를 슬라이싱

In [52]:
temp = 0
for num in range(1,101):
    if 30 <= num <= 70:
        temp += num
#         print(temp)
# print(temp)

In [59]:
list(range(1,101))[29:70]

[30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70]

In [60]:
temp =0 
for num in range(1,101)[29:70]:
    temp += num
print(temp)

2050

In [61]:
L1 = list(range(1,10, 2))
print('L1', L1)
L2 = list(range(0,10, 2))
print('L2', L2)

L1 [1, 3, 5, 7, 9]
L2 [0, 2, 4, 6, 8]

In [64]:
L3 = list(range(0,3))
L3

[0, 1, 2]

In [65]:
temp = 0
for num, num2, num3 in zip(L1, L2, L3):
    temp = num + num2 + num3
    print(num, num2, num3, temp)

1 0 0 1
3 2 1 6
5 4 2 11

In [72]:
for num in zip(L1, L2, L3):
    print(num)

(1, 0, 0)
(3, 2, 1)
(5, 4, 2)

enumerate(): index를 만들어주는 함수

In [69]:
for index, char in enumerate("파이썬은 문자열을 반복문에 넣어 출력 가능"):
    print(index, char)

0 파
1 이
2 썬
3 은
4
5 문
6 자
7 열
8 을
9
10 반
11 복
12 문
13 에
14
15 넣
16 어
17
18 출
19 력
20
21 가
22 능

In [83]:
for num in enumerate(zip(L1, L2, L3)):
    print(num)
    print(len(num))
#     print("index;",index, "L1:", num[0], "L2:", num[1], "L3:",num[2])

(0, (1, 0, 0))
2
(1, (3, 2, 1))
2
(2, (5, 4, 2))
2

1-10 까지 숫자를 만들고 역순으로 출력하세요

In [88]:
L3 = list(range(1,11))
L3.reverse()

In [89]:
L3

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [93]:
for num in reversed(range(1,11)):
    print(num, end=" ")

10 9 8 7 6 5 4 3 2 1

In [95]:
for num in range(10,0,-1):
    print(num, end=" ")

10 9 8 7 6 5 4 3 2 1

In [98]:
for num in range(1,11)[::-1]:
    print(num, end=" ")

10 9 8 7 6 5 4 3 2 1

In [103]:
for num in range(0,11)[1::3]:
    print(num, end=" ")

1 4 7 10

# while 반복할 횟수가 정해지지 않은 경우
* 무한 반복 가능
* 무한 반복이 되지 않도록 조건식을 잘 짜주는 것이 중요<br>
변수 선언 및 초기화<br>
while 조건식:<br>
____반복할 코드<br>
____변수 증가/감소 로직

while문으로 1-10까지 출력하기

In [105]:
i = 1
while i <= 10:
    print(i, end=" ")
    i += 1

1 2 3 4 5 6 7 8 9 10

while문을 이용해서 1-10까지 더해서 결과를 출력하세요.

In [109]:
i = 1
hap = 0
while i <= 10:
    hap += i
    i += 1
print(hap)

55

20에서 1까지 숫자를 더한 값을 출력하세요.

In [112]:
i = 20
hap = 0
while i > 0:
    hap += i
    i -= 1
print(hap)

210

1-50 까지 수 중에서 3의 배수이거나, 짝수인 수를 찾아서 더한 값을 출력하시오.
* 1-50 반복
* 3의 배수 or 짝수
* 더하기
* 출력하기

In [113]:
i = 1
hap = 0
while i <= 50:
    if i % 3 == 0 or i % 2 ==0:
        hap += i
    i += 1
print(hap)

842