# 함수 만들기

* print(), split(), input()  => 함수
* 함수의 괄호 안에 값을 넣으면 출력을 해주거나 입력을 받거나 변환을 해 줌
* 도구
* function => 기능
* 자주 사용하는 기능을 미리 만들어서 **반복 재사용** 할 수 있게 만드는 것

In [ ]:
L = [1,2,3,4,5]
result = []
for i in L:
    result.append(i*10)
result

## 1) 함수 만드는 법
def 함수이름():<br>
____실행코드<br>
____return 리턴 값<br>

In [ ]:
def hello():
    print("hello 파이썬 함수 만들기")

In [ ]:
hello()

## 2) 함수 호출순서
* 함수는 호출하기 전에 반드시 먼저 정의되어야 하고(만들어 놓아야 함)
* 함수 정의가 함수 실행보다 위에 있어야 한다.

In [3]:
def hello2():
    print("hello2 파이썬 함수 만들기")
    
hello2()

hello2 파이썬 함수 만들기

## 3) 함수의 매개변수
* 함수의 ()안에 받는 값
* ()안에 값을 받아서 함수 내에서 처리할 때 사용
* print("hello")  => hello

매개변수 1개짜리 함수

In [11]:
# 원의 넓이를 구하는 함수 - 반지름 * 반지름 * 3.14
def circle(c):
    print("원의 넓이는: ", c * c * 3.14, "입니다.")
    return c * c * 3.14

In [12]:
result = circle(3)
print("result:", result)

원의 넓이는:  28.26 입니다.
result: 28.26

매개변수 2개짜리 함수 - 덧셈 함수 만들기

In [13]:
def add(a, b):
    return a + b

In [16]:
result = add(10, 3)
print("result: ", result)

result:  13

In [17]:
add(999, 1345676767166)

1345676768165

매개 변수 3개짜리 함수 - a: 시작, b: 끝, c: 증감<br>
num_maker라는 이름의 함수를 만드세요.<br>
숫자를 입력받아 시작, 끝, 증감이 반영되게 출력하세요.<br>
num_maker(1, 10, 2)<br>
1, 3, 5, 7, 9

In [34]:
def num_maker(a, b, c):
    result = [i for i in range(a,b,c)]
    return result

In [35]:
result = num_maker(1, 10, 2)
print(result)
print(type(result))

[1, 3, 5, 7, 9]
<class 'list'>

In [57]:
num_maker(2, 500)

TypeError: num_maker() missing 1 required positional argument: 'c'

리턴값이 여러 개인 함수

In [30]:
def add_sub(a, b):
    add = a + b
    sub = a - b
    return add, sub

In [32]:
result = add_sub(7, 3)
print(type(result))

<class 'tuple'>

In [38]:
a = 1
b = 3

In [39]:
t = a, b
t

(1, 3)

In [41]:
for i in enumerate(range(1,11)):
    print(type(i),i )

<class 'tuple'> (0, 1)
<class 'tuple'> (1, 2)
<class 'tuple'> (2, 3)
<class 'tuple'> (3, 4)
<class 'tuple'> (4, 5)
<class 'tuple'> (5, 6)
<class 'tuple'> (6, 7)
<class 'tuple'> (7, 8)
<class 'tuple'> (8, 9)
<class 'tuple'> (9, 10)

num_maker2 - 정방향, 역방향 리스트 출력

In [42]:
def num_maker2(a, b, c):
    asc = [i for i in range(a, b, c)]
    desc = [i for i in range(a, b, c)][::-1]
    return asc, desc

In [43]:
num_maker2(1, 10, 2)

([1, 3, 5, 7, 9], [9, 7, 5, 3, 1])

## 4) 중간에 함수를 종료시키기 위한 용도의 return
* 반복문에서 break로 반복을 중지시키는 것처럼 함수에서 return이 실행되면 함수는 종료

1-10까지 숫자중에 짝수만 출력하다가 7 이상이 되면 종료하기

In [44]:
age = range(1,11)

In [45]:
def even(age):
    for i in age:
        if i % 2 == 0:
            print(i, end = " ")
        elif i >= 7:
            break

In [46]:
even(age)

2 4 6

In [47]:
def even2(age):
    for i in age:
        if i % 2 == 0:
            print(i, end = " ")
        elif i >= 7:
            return

In [48]:
even2(age)

2 4 6

1-100까지 숫자중에 홀수만 출력하다가 51번째에 종료하는 odd 함수를 만드세요.

In [53]:
def odd(a):
    print("a: ", a)
    for i in a:
        if i % 2 ==1:
            print(i, end=" ")
        elif i >= 51:
            return

In [54]:
odd(range(1, 101))

a:  range(1, 101)
1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51

In [56]:
h = list(range(1, 101))
odd(h) # =>  a = h

a:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51

## 5) 함수에서 위치 인수와 키워드 인수 사용하기
* 위치인수(positional argument) 매개변수
* 함수에 인수를 순서대로 넣는 방식
* 인수의 위치가 정해져 있음

In [58]:
def print_nums(a, b, c):
    print(a, b, c)

In [59]:
print_nums(10, 20, 30)

10 20 30

리스트, 튜플과 같은 자료형을 1개의 위치인수(매개변수)로 받을 때<br>
위치 인수와 개수가 같으면 *로 언패킹 가능

In [68]:
p = [10, 20, 30]

In [61]:
print_nums(p)

TypeError: print_nums() missing 2 required positional arguments: 'b' and 'c'

In [62]:
print_nums(p[0], p[1], p[2])

10 20 30

In [65]:
print(*p)

10 20 30

In [69]:
print_nums(*p)

10 20 30

가변인수
* 여러 개의 자료를 한 번에 입력 받음 
* *args  => *변수명

In [70]:
print("a", "b", "c", "d")

a b c d

여러 개의 숫자를 입력받아 더하는 함수(입력 개수가 정해져 있지 X)

In [78]:
def sum2(*args):
    print(args)
    print(type(args))
    hap = 0
    for i in args:
        hap += i
    return hap

In [79]:
sum2(1,1,4,6,7,8,9,2,5,6,2,2,6,4,2,6,2,2)

(1, 1, 4, 6, 7, 8, 9, 2, 5, 6, 2, 2, 6, 4, 2, 6, 2, 2)
<class 'tuple'>

75

In [80]:
sum((1, 1, 4, 6, 7, 8, 9, 2, 5, 6, 2, 2, 6, 4, 2, 6, 2, 2))

75

In [86]:
def sum3(*nums):
    print(nums)
    print(type(nums))
    return sum(nums)

In [88]:
sum3(1, 1, 4, 6, 7, 8, 9, 2, 5, 6, 2, 2, 6, 4, 2, 6, 2, 2)

(1, 1, 4, 6, 7, 8, 9, 2, 5, 6, 2, 2, 6, 4, 2, 6, 2, 2)
<class 'tuple'>

75

In [92]:
print(*[1, 1, 4, 6, 7, 8, 9, 2, 5, 6, 2, 2, 6, 4, 2, 6, 2, 2])

1 1 4 6 7 8 9 2 5 6 2 2 6 4 2 6 2 2

In [84]:
L1 = [1, 1, 4, 6, 7, 8, 9, 2, 5, 6, 2, 2, 6, 4, 2, 6, 2, 2]

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [93]:
sum3(*L1)

(1, 1, 4, 6, 7, 8, 9, 2, 5, 6, 2, 2, 6, 4, 2, 6, 2, 2)
<class 'tuple'>

75

In [94]:
def list_tuple_func(*args):
    print(args)
    print(type(args))

In [95]:
list_tuple_func(1,2,3,4,5)

(1, 2, 3, 4, 5)
<class 'tuple'>

In [97]:
list_tuple_func(1.1,2.2,3.3,4.4,5.5)

(1.1, 2.2, 3.3, 4.4, 5.5)
<class 'tuple'>

In [98]:
list_tuple_func([1,2,3], [4,5,6], [7,8,9])

([1, 2, 3], [4, 5, 6], [7, 8, 9])
<class 'tuple'>

In [99]:
list_tuple_func(dict(a=1, b=2, c=3))

({'a': 1, 'b': 2, 'c': 3},)
<class 'tuple'>

고정인수와 가변인수 함께 사용하기
* 고정인수와 가변인수를 함께 사용할 때는 반드시
* 고정인수, 가변인수 순으로 넣고 가변인수는 항상 가장 마지막에 넣는다.<br>
def sum(a, *args):  O <br>
def sum(*args, a):  X

정수와 리스트를 입력받아 리스트의 요소에 <br>
입력받은 정수를 곱한 값의 리스트를 반환하는 함수<br>
3, [1,2,3,4,5] => [3,6,9,12,15]

In [107]:
def muls(a, *args):
    result = []
    for num in args:
        print(a * num, end=" ")
        result.append(a * num)
    return result

In [103]:
L2 =[1,2,3,4,5]

In [104]:
muls(3, *L2)

3 6 9 12 15

[3, 6, 9, 12, 15]

In [102]:
muls(3,1,2,3,4,5)

3 6 9 12 15

[3, 6, 9, 12, 15]

가변인수가 앞에 왔기 때문에 에러

In [108]:
def muls2(*args, a):
    result = []
    for num in args:
        print(a * num, end=" ")
        result.append(a * num)
    return result

In [109]:
muls2(*L2, 3)

TypeError: muls2() missing 1 required keyword-only argument: 'a'