In [1]:
import pandas as pd
from glob import glob

In [3]:
data = pd.read_csv("C:/Users/5-29/Downloads/aprtment_price_exchange_rate_interest_rate_academy.csv")

In [5]:
data.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10041451 entries, 0 to 10041450
Data columns (total 10 columns):
 #   Column    Non-Null Count     Dtype
---  ------    --------------     -----
 0   시군구       10041451 non-null  object
 1   단지명       10041451 non-null  object
 2   전용면적(㎡)   10041451 non-null  float64
 3   거래금액(만원)  10041451 non-null  object
 4   층         10041451 non-null  int64
 5   건축년도      10041336 non-null  float64
 6   학원수       7827264 non-null   float64
 7   date      10041451 non-null  object
 8   기준금리      10041451 non-null  float64
 9   달러환율      10041451 non-null  float64
dtypes: float64(5), int64(1), object(4)
memory usage: 766.1+ MB

In [6]:
data.head()

,시군구,단지명,전용면적(㎡),거래금액(만원),층,건축년도,학원수,date,기준금리,달러환율
0,강원특별자치도 양구군 양구읍 상리,경림,59.400,"5,000",11,1998.0,24.0,2005-09-23,3.25,1061.83
1,경기도 의정부시 신곡동,신일1,59.878,"5,750",3,1997.0,1151.0,2005-10-20,3.50,1077.02
2,경기도 의정부시 신곡동,풍림,49.830,"5,500",8,1998.0,1151.0,2005-10-20,3.50,1077.02
3,경기도 의정부시 민락동,한라비발디,84.990,"12,750",19,2003.0,1151.0,2005-10-30,3.50,1073.67
4,경기도 의정부시 용현동,용현현대1차,129.730,"12,200",11,1992.0,1151.0,2005-11-21,3.50,1060.19

# 1. 전국 아파트 매매 데이터 1999-2024 합치기 glob
# 2. database에서 1999-2024 USD 환율정보 가져와 합치기
        * 날짜와 USD 살때 데이터만 사용
        * 토,일,공휴일 데이터는 그 전날 데이터로 맵핑
# 3. 전국 학원 정보 가져와서 합치기 (시군구 단위)
# 4. 금리 정보 합치기
# 5. 회귀분석으로 집값 예측하기